/***************************************/
/*Main Body*/
/***************************************/
body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


/***************************************/
/*MAIN HEADER*/
/***************************************/
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: minmax(100px, auto);
    background: #000;
    color: #fff;
}

.center {
    align-self: start;
    grid-rows: minxmax(100px, auto);
}

.end {
    align-self: end;
    
}

/***************************************/
/*BLURBS*/
/***************************************/
.blurbs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
}


/***************************************/
/*TEXT*/
/***************************************/

h1 {
    text-align: center;
     font-size: 6em;
     margin-bottom: 0;
     margin-top: 0;
     
}

.center p {
    text-align: center;
    margin-top: 0;
    font-size: 1.6em;
    margin-bottom: 0;
}


/***************************************/
/*MEDIA SCREEN*/
/***************************************/

/*if screen less than 700px*/
@media (max-width: 700px) {
    h1 {
        font-size: 3em;
    }
    
    .center p {
        font-size: 1em;
    }
}